[submodule "assets/styles/StarGRID"]
	path = assets/styles/StarGRID
	url = git@github.com:GiovanniRiefolo/StarGRID.git
[submodule "assets/styles/StarGRID-dist"]
	path = assets/styles/StarGRID-dist
	url = git@github.com:GiovanniRiefolo/StarGRID-dist.git
