// Flex settings
$grid-columns: 12;
$block-width: 1200px;
$item-padding: 16px;
$item-margin: 16px;

// Responsive settings
$tablet-viewport: 1024px;
$smartphone-viewport: 650px;
// Import Google Fonts here
@import url('https://fonts.googleapis.com/css?family=Arapey:400,400i|Quicksand:300,400&display=swap');

@import "assets/styles/scss/util/sg.calc";

// Typography settings
// paragraph and global content
$content-font: 'Quicksand', Arial, sans-serif;
$content-font-size: 1rem;
$content-font-color: $grey;
$line-height: 1.618;
$paragraph-margin: calc(#{$content-font-size} / 1.25);

// headings
$heading-font: 'Arapey', Georgia, Times New Roman, serif;
$heading-font-color: $brown-dark;
$heading-font-weight: normal;
$heading-scale: 6;
$heading-font-size-conversion: 16;
$heading-line-height: 1.618;

// anchors
$content-anchor-color: $brown-dark;
$content-anchor-decoration: none;
$nav-anchor-size: 1.2rem;
$nav-anchor-color: $grey-dark;

body {
  font-family: $content-font;
}

@for $i from 1 through 6 {
  h#{$i} {
    $size: $heading-font-size-conversion + $heading-scale * (8 - $i);
    color: $heading-font-color;
    font: {
      family: $heading-font;
      weight: $heading-font-weight;
      size: rem-calc($size);
    }
    line-height: rem-calc($size*$heading-line-height);
  }
}

p {
  color: $content-font-color;
  margin: 0 0 $paragraph-margin 0;
  font-size: $content-font-size;
  line-height: $content-font-size * $line-height;

  & a {
    color: $content-anchor-color;
    text-decoration: $content-anchor-decoration;
  }
}
