// Define custom viewport Sizing
$smaller-viewport: (max-width: 365px);
$small-viewport: (max-width: 650px);
$medium-viewport: (max-width: 1024px);
$large-viewport: (max-width: 1200px);
$very-large-viewport: (min-width: 1201px);
