// Colors
//// Define here your color palette
$white: #FFFFFF;
$grey-lighter: #F0F0F0;
$grey-light: #E0E0E0;
$grey-medium-light: #9E9E9E;
$grey: #757575;
$grey-dark: #424242;
$black: #2E2E2D;

$red: #FF380A;
$brown: #B68970;
$brown-dark: #855C45;
$brown-darker: #56321D;
$beige-light: #EFECEA;
$beige: #E2DCD7;
$beige-dark: #BEB2AB;
