// Colors
// --- here your can define the color palette
$primary:var(--root-primary);
$secondary:var(--root-secondary);

$blue: #0073AA;
$blue-medium: #00A0D2;

$white: #FFFFFF;
$grey-light: #F2F2F2;
$grey-medium: #919191;
$grey: #808080;
$grey-dark: #696a6d;
$black: #000000;
