// Colors
// --- here your can define the color palette
$primary:var(--root-primary);
$secondary:var(--root-secondary);

$white: #FFFFFF;
$grey-lighter: #F0F0F0;
$grey-light: #E0E0E0;
$grey-medium-light: #9E9E9E;
$grey: #757575;
$grey-dark: #424242;
$black: #2E2E2D;
