// Define custom viewport Sizing
$smaller-viewport: (max-width: 365px);
$small-viewport: (max-width: 650px);
$medium-viewport: (max-width: 1024px);
$medium-large-viewport: (max-width: 1440px);
$large-viewport: (max-width: 1920px);
$very-large-viewport: (min-width: 1921px);
