// Add here WP Admin styles
@import "../utilities/theme.colors";

.fp-tableCell{
    width: 100%;
   }

//ACF button checkbox
.radio-button{
    & ul.acf-radio-list{
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      & li{
        display: inline-flex;
        margin: 4px;
        & label{
          border: 1px solid #424242;
          width: 32px;
          height: 32px;
          display: block !important;
          position: relative;
          overflow: hidden;
          padding: 9px 8px;
          &.selected{
            border-color: #007cba;
            background-color: #0d99d5;
            color: white;
          }
          & input[type="radio"]{
            position: absolute;
            left: -100%;
          }
          & i{
            display: block;
            text-align: center;
          }
        }
  
      }
    }
  } 


// Interface
.interface {
  &-complementary-area {
    width: 360px;
  }
}
