@import "assets/styles/scss/inc/theme.variables";

.vc-container-block {
  display: flex;
  position: relative;
  overflow: hidden;

  & * {
    transition: color .3s ease-in-out, border-color .3s ease-in-out;
  }

  & .vc-content {
    position: relative;
    z-index: 10;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
  }

  & .vc-container-bg {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    & figure {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;

      & img {
        object-fit: cover;
        object-position: center center;
      }
    }
  }

}